body {
    background-color: rgb(56, 56, 56);
}
a{
    color: #04AA6D;
    justify-content: left;
    font-size: 2em;
}
p{
    color:#04AA6D;
    font-size: 111px;
}
label{
    color: #04AA6D;
}
#addPlayer {
    margin-top: auto;
}
nav {
    background-color: rgb(104, 5, 5);
}

#testb {
    margin-left: 200px;
}

#submit {
    margin-top: 300px;
}

#buttonContainer {
    margin-top: 200px;
    margin-left: 300px;
    border-radius: 1px;
}
.grid-item{
    position: relative;
    top:-100px;
    
}
#heyo{
    position: relative;
    top: -100px;
}
#dataGrid {
    background: #FFF;
    position: absolute;
    top:-80px;
    left: 50%;
    margin: auto;
}
#dataGrid1 {
    background: #FFF;
    position: absolute;
    top:200px;
    left: 50%;
    margin: auto;
}
#dataGrid2 {
    background: #FFF;
    position: absolute;
    top:200px;
    left: -200 px;
    margin: auto;
}
#dataGrid3 {
    background: #FFF;
    position: absolute;
    top:400px;
    left: -200 px;
    margin: auto;
}
#dataGrid4 {
    background: #FFF;
    position: absolute;
    top:200px;
    left: -200 px;
    margin: auto;
}


#dataGrid5 {
    background: #FFF;
    position: absolute;
    top:400px;
    left: 800px;
    margin: auto;
}
#dataGrid9 {
    background: #FFF;
    position: absolute; 
    top:400px;
    left: 0px;
    margin: auto;
}
#dataGrid8 {
    background: #FFF;
    position: absolute;
    top:200px;
    left: -200 px;
    margin: auto;
}
 

td, th {
    border: 1.5px solid #bbbb;
    padding: 7.5px;
}
tr {
    align-self: center;
    align-content: center;
    text-align: center; 
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boxContainer{
    
    text-align: center;
}

#boxOne{
    width: 800px;
    height: 600px;
    border: 5px solid white; 
    margin: 20px auto;
    display: inline-block;
}

#boxdup{
    width: 800px;
    height: 600px;
    border: 5px solid white; 
    margin: 20px auto;
    display: inline-block;
}

.buttonContainer{

position: absolute;
flex-direction: column;

}

.buttonsPosition{
    position: relative;
    display: block;
    padding: 10px 10px 10px 10px;
}
#getPlayers{
    margin-right: 210px;
}

#deletePlayer{
    margin-right: 22px;
}

#createUpdatePlayerID{
    margin-right: 50px;
}
#createUpdatePlayerHeight{
    margin-right: 50px;
}
#createUpdatePlayerWeight{
    margin-right: 50px;
}
#createUpdatePlayerHOF{
    margin-right: 50px;
}
#createUpdatePlayerPosition{
    margin-right: 50px;
}
#createUpdateYearBorn{
    margin-right: 50px;
}
#createUpdatePlayerName{
    margin-right: 50px;
}

#boxTwo{

    width: 800px;
    height: 600px;
    border: 5px solid white; 
    margin: 20px auto;
    display: inline-block;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
.tableContainer{
    border-collapse: collapse;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #04AA6D;
    height: 600px;   overflow-y: auto;
}
button {
    display: inline-block;
    padding: .8rem 1.3 rem;
    border-radius: 3rem;
    color: #04AA6D;
    text-transform: uppercase;
    font-size: 0.65rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
  }
.wrapper{
    width: 200px;
    margin: 0 auto;
    position: relative; 
    right: -370px;


}
.wrapper ul{
    list-style: none;
    margin-top: 2%;
}

.wrapper ul li{
    background: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family: big john;
}
.wrapper ul ul{
    display: block;
    position: relative;
    height: 600px;   overflow-y: auto;
    width:250px;
    top: -200px;
    right: -140px;
}


.wrapper1{
    width: 200px;
    margin: 0 auto;
    position: relative; 
left: -350px;
}
.wrapper1 ul{
    list-style: none;
    margin-top: 2%;
}

.wrapper1 ul li{
    background: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family: big john;
}
.wrapper1 ul ul{
    display: none;
    
}

.wrapper1 ul li:hover > ul{
    display: block;
    position: relative;
    right: -270px;
    top: -150px;
}