body {
    background-color: rgb(56, 56, 56);
}
p{
    color:rgb(104, 5, 5);
    font-size: 111px;
}
label{
    color: turquoise;
}
#addPlayer {
    margin-top: auto;
}
nav {
    background-color: rgb(104, 5, 5);
}

#testb {
    margin-left: 200px;
}

#submit {
    margin-top: 300px;
}

#buttonContainer {
    margin-top: 200px;
    margin-left: 300px;
    border-radius: 1px;
}
.grid-item{
    position: relative;
    top:-100px;
}
#heyo{
    position: relative;
    top: -100px;
}
#dataGrid {
    background: #FFF;
    position: absolute;
    top:-80px;
    left: 50%;
    margin: auto;
}

 

td, th {
    border: 1.5px solid #bbbb;
    padding: 7.5px;
}
tr {
    align-self: center;
    align-content: center;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

